*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    max-width: 100%;
    /* border: 1px solid grey; */
}


html{
    font-size: 62.5%;
}
body{
    font-size: 1.5rem;
    line-height: 1.5;
    color: #4f4f4f;
    font-family: 'Poppins', sans-serif;    
    background-color: #fffafa;
}
a{
    text-decoration: none;
}
h1{
    font-weight: bold;
    font-size: 3rem;
}
h3{
    text-align: left;
}

h1, h2, h3 {
    -webkit-text-fill-color: white; 
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}
header{
    /* height: 50vh; */
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("assets/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.intro{
    padding:10%;
}
nav{
    display: flex;
    min-height: 10vh;
    background-color: #0E7C7B;
    justify-content: space-evenly;
}
nav a, footer a {
    background-color: #0E7C7B;
    color: white;
    padding: 5px;
    border: none;
    border-radius: 5px;
    margin: auto;
}
nav a:hover, footer a:hover{
    background-color: #F0F0F0;
    color: #0E7C7B;
}
.container {
    margin:auto;
}
.logo{
    text-align: center;
    padding: 3% 0;
}
.logo img{
    width: 70%;
    max-width: 300px;
}

/* Testimonial Styling */
.testimonial{
    display: flex;
    flex-direction: column;
}
.userpic{
    min-width: 60%;
    height: 30vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#userpic1{
    background-image: url("assets/Ash.jpg");
}
#userpic2{
    background-image: url("assets/Frank-Ernest-SouthBayCoffee.jpg");
}
#userpic3{
    background-image: url("assets/Jacey.jpg");    
}
.testimonial-text-box{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 4%;
    background-color: #f0f0f0;
    font-size: 2.2rem;
}
.testimonial-text-box p {
    line-height: 1.7;
    padding: 2% 0 0 0;
}
.usersSay{
    display: flex;
    flex-direction: column;
    padding: 7% 4%;
    flex-grow: 1;
}

/* Footer button Style */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:3%;
    text-align: center;
    line-height: 7vh;
}
footer a{
    width: 90%;
    height: 7vh;
    font-size: 2rem;
}
.logo-footer{
    display: none;
}

/* about page styling */
.about{
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("assets/about-background.jpg");
}
.gallery{
    display: flex;
    flex-flow:row wrap;
    justify-content: space-evenly;
    padding: 2%;
}
.gallery div{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 1.4rem;
    margin: 1% 0;
    max-width: 45%;
    padding: 0;
}


@media only screen and (min-width: 700px) {
/* Tablet styles */
    h1{
        font-size: 4rem;
    } 
    nav{
        justify-content: flex-start;
        padding: 10px 10px;
        min-height: unset;
    }
    nav a{
        padding: 3px;
    }  
    .container{
        margin: 0;
    }
    .about-container{
        order: 1;
    }
    .signup-container{
        order: 2;
        margin-left: auto;
    }
    .login-container{
        order: 4;
        margin-left: 15px;
    }
    button{
        flex-grow: unset;
        font-size: 2.4rem;
        height: 4vh;
    }
    .logo{
        display:none;
    }
    .testimonial{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .usersSay{
        padding: 2% 2% 2% 2%;
    }
    .userpic{
        width: 100%;
    }
 
    .logo-footer {
        display: block;
        text-align: center;
    }
    .logo-footer img {
        padding: 10% 0 0 0;
    }
    .gallery div{
        max-width: 30%;

    }
}

@media only screen and (min-width: 900px) {
    /* bigger screen */
    nav a {
        font-size: 2rem;
    }
    .gallery div{
        max-width: 22%;

    }
}