/* css reset*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	/*border: 0;*/
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
    background-image: url(../images/blackbackground.jpg)
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*{box-sizing:border-box;
max-width:100%;
/*border: 1px solid aquamarine;*/
}

/* General CSS*/

/* *{
    border: 1px blue solid;
} */

html{
    font-size:62.5%;
}
body{
    font-size: 1.8rem;
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
    color: #362E34;
}
h1, h2, h3, h4, h5, h6{
    letter-spacing: 2px;
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 4rem;
    color:  #362E34;
}
h2{
    font-size: 6rem;
    color:  #362E34;
}
h3{
    font-size: 3rem;
    color:  #362E34;
}
h4{
    font-size: 2.2rem;
    font-weight: bold;
}
h5{
    font-style: italic;
}
a{
  text-decoration: none;  
}
a:visited {
    color: inherit;
}
/* .signInNav a:visited{
    color: #362E34;
}
.signUpNav a:visited{
    color: white;
} */



/*Begin Nav bar styling*/
nav{
    display: flex;
    flex-direction: column;
    min-height: 10vh;
    background-color: #0E7C7B;
    justify-content: space-evenly;
}
nav a, footer a {
    background-color: #0E7C7B;
    color: white;
    padding: 5px;
    border: none;
    border-radius: 5px;
    margin: auto;
}
nav a:hover, footer a:hover{
    background-color: #F0F0F0;
    color: #0E7C7B;
}
.container {
    margin:auto;
    line-height: 3;
}

/*Main Title Styling*/
.mainHeroImage{
    display: flex;
    justify-content: center;
    background-image: url('assets/washingdishes.jpg');
    height: 60vh;
    background-position: center-top;
    background-size: cover;
    background-attachment: local;
} 
.mainTitle{
    text-align: center;
    margin-top: 15%;
}
.mainTitle h1{
    color: white;
    width: 90%;
    margin-top: 30%;
 }

 /*Logo styling*/
 .logo{
    text-align: center;
    padding: 3% 0;
}
.logo img{
    width: 90%;
    max-width: 300px;
    padding: 13% 0;
}


/*Features on Index styling*/
.features{
    display: flex;
    flex-flow: column nowrap;
    background:#0E7C7B;
    justify-content: space-evenly;
    padding: 5%;
}
i{
    text-align: center;
    padding:9%;
}
.features h3{
    color: white;
    text-align: center;
    font-weight: 100;
    margin-top: 5%;
}
.featureDesc{
    display: none;
}

/*Sign Up page break*/
.signUp{
    text-align: center;
    padding: 10% 5%;
}
.signUp h3{
    border: 3px #0E7C7B solid;
    border-radius: 8px;
    width: 90%;
    margin: auto;
    color: #362E34;
}
.signUp h3:hover{
    background: #0E7C7B;
    border: 3px #362E34 solid;
    color: white;
}

/*Testimonial review styling*/
gallery{
    display: flex;
    justify-content: space-evenly;
}

.review{
  margin: 15% 2%;
  background: #F0F0F0;
  color: #362E34;
  border-radius: 10% 10% 0 0;
  text-align: left;
}
.review p {
    padding-bottom: 6%;
}

.review img{
    border-radius: 10%;
}
.review h4, h5, p{
    padding-left: 5%;
}