/* css reset*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	/*border: 0;*/
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
    background-image: url(../images/blackbackground.jpg)
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*{box-sizing:border-box;
max-width:100%;
/*border: 1px solid aquamarine;*/
}

/* General CSS*/

html{
    font-size:62.5%;
}
body{
    font-size: 1.8rem;
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
    color: #362E34;
}
h1, h2, h3, h4, h5, h6{
    letter-spacing: 2px;
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 8rem;
    color:  #362E34;
}
h2{
    font-size: 6rem;
    color:  #362E34;
}
h3{
    font-size: 3rem;
    color:  #362E34;
}
a{
  text-decoration: none;  
}
/*header*/
nav{
    display: flex;
    justify-content: space-around;
}
.aboutUsNav{
    text-align: center;
    padding-top: 1.5%;
    margin-top: 2%;
}
.wanderListNav{
    text-align: center;
    padding-left:10%;
    margin-top: 2%;
    /* margin-left: 5%;
    padding-left: 30% */
}
.login{
    display: flex;
    justify-content: flex-end;
    width: 20%;
    padding-left: 5%;
    padding-bottom: 2%;
    padding-top:2%;
}

.signUpNav{
    text-align: center;
    background: #0E7C7B;
    margin: 5%;
    padding: 5%;
    border-radius: 8px;
}
.signInNav{
    text-align: center;
    background: #F0F0F0;
    margin: 5%;
    padding: 5%;
    border-radius: 8px;
}

/* Main Title*/
.mainHeroImage{
    display: flex;
    justify-content: center;
    background-image: url('Images/washingdishes.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 80vh;
}
.mainTitle{
    text-align: center;
    margin-top: 15%;
}
.mainTitle h1{
    color: white;
}

/*Features*/

.features{
    display: flex;
    flex-wrap: nowrap;
    background:#0E7C7B;
    justify-content: space-evenly;
    padding: 5%;
}
i{
    text-align: center;
    padding:5%;
}
.features h3{
    color: white;
    text-align: center;
    font-weight: 100;
    margin-top: 5%;
}
/*sign up*/
.signUp{
    text-align: center;
    padding: 5%;
}

.signUp h3{
    border: 3px #0E7C7B solid;
    border-radius: 8px;
    width:30%;
    margin-left: 35%;
    margin-right: 65%;
    color: #362E34;
}

/*Reviews*/
footer{
    display: flex;
    justify-content: space-evenly;
}

.review1{
  margin: 2%;
  background: #F0F0F0;
  color: #362E34;
}

.review2{
    margin: 2%;
    background: #F0F0F0;
    color: #362E34;
}

.review3{
    margin: 2%;
    background: #F0F0F0;
    color: #362E34;
}
.review3 img{
    margin-bottom: 5%;
}

/* ABOUT PAGE CSS*/

/*header*/

.aboutHeroImage{
    display: flex;
    justify-content: center;
    background-image: url('Images/dan-cristian-padure-Ba8700bbZp4-unsplash.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 40vh;
}

/* Title */
.aboutMainTitle{
   padding-top: 7%;
}
.aboutMainTitle h1{
    color: white;
}

/* Main Content */

.teamMembers{
        display:flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin:10%;
        text-align: center;
}
.teamMember{
    /* display: flex;
    justify-content: space-evenly; */
    width: 30%;
    background: #F0F0F0;
    /* flex-wrap: wrap;
    margin: 2%; */
}

/* footer */
footer{
    background: #0E7C7B;
    padding: 5%;
    margin: 0;
}
