*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    max-width: 100%;
    /* border: 1px solid grey; */
}


html{
    font-size: 62.5%;
}
body{
    font-size: 1.5rem;
    line-height: 1.5;
    color: #4f4f4f;
    font-family: 'Poppins', sans-serif;    
    background-color: #fffafa;
}
h1{
    font-weight: bold;
    font-size: 3rem;
    padding: 10% 5%;
}

h1, h2, h3{
    -webkit-text-fill-color: white; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}
header{
    height: 50vh;
    background-image: url("/assets/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
nav{
    display: flex;
    height: 7vh;
    background-color: #0E7C7B;
    justify-content: space-evenly;
}
button{
    flex: 1;
    background-color: #0E7C7B;
    color: white;
}
.logo{
    text-align: center;
    padding: 3% 0;
}
.logo img{
    width: 70%;
}

/* Testimonial Styling */
.testimonials{
    display: flex;
    flex-direction: column;
}
.userpic{
    height: 20vh;
    width: 60%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#userpic1{
    background-image: url("assets/Ash.jpg");
}
#userpic2{
    background-image: url("assets/Frank-Ernest-SouthBayCoffee.jpg");
}
#userpic3{
    background-image: url("assets/Jacey.jpg");    
}
.testimonial-text-box{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 2%;
    height: 20vh;
    background-color: #f0f0f0;
}
.usersSay{
    display: flex;
    flex-direction: row;
    padding: 3%;
}

/* Footer button Style */
footer button{
    width: 90%;
    height: 7vh;
    margin: 10% 5% 5% 5%;
    border-radius: 5px;
    font-size: 2rem;
}