/* css reset*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	/*border: 0;*/
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
    background-image: url(../images/blackbackground.jpg)
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*{box-sizing:border-box;
max-width:100%;
/*border: 1px solid aquamarine;*/
}

/* General CSS*/

/* *{
    border: 1px blue solid;
} */

html{
    font-size:62.5%;
}
body{
    font-size: 1.8rem;
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
    color: #362E34;
}
h1, h2, h3, h4, h5, h6{
    letter-spacing: 2px;
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 8rem;
    color:  #362E34;
}
h2{
    font-size: 6rem;
    color:  #362E34;
}
h3{
    font-size: 3rem;
    color:  #362E34;
}
a{
  text-decoration: none;  
}
a:visited {
    color: inherit;
}
/* .signInNav a:visited{
    color: #362E34;
}
.signUpNav a:visited{
    color: white;
} */


/*header*/
nav{
    display: flex;
    justify-content: space-around;
    margin:0;    /* height: 20vh; */
}
.aboutUsNav{
    text-align: center;
    padding-top: 1.5%;
    margin-top: 8%;
    margin-bottom: 0%;
}

.aboutUsNav h3:hover{
    color: #0E7C7B;
}
.wanderListNav{
    /* text-align: center;
    padding-left:10% */
    margin-top: 2%;
    margin-bottom: 0%;
     margin-left: 5%;
    /* padding-left: 30% */ 
    width: 20%;
}
.login{
    display: flex;
    justify-content: flex-end;
    width: 20%;
    padding-left: 5%;
    padding-bottom: 10%;
    padding-top:5%;
    margin-top: 5%;
    margin-bottom: 0%;
}

.signUpNav{
    text-align: center;
    background: #0E7C7B;
    margin: 5%;
    padding: 5%;
    border-radius: 8px;
    color: white;
}

.signUpNav:hover{
    background:#F0F0F0;
    color:#362E34;
}


.signInNav{
    text-align: center;
    background: #F0F0F0;
    margin: 5%;
    padding: 5%;
    border-radius: 8px;
}

.signInNav:hover{
    color: white;
    background: #0E7C7B;
}

/* .signInNav a:visited{
    color: #362E34;
} */

/* Main Title*/
.mainHeroImage{
    display: flex;
    justify-content: center;
    background-image: url('Images/washingdishes.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 80vh;
}
.mainTitle{
    text-align: center;
    margin-top: 15%;
}
.mainTitle h1{
    color: white;
}

/*Features*/

.features{
    display: flex;
    flex-wrap: nowrap;
    background:#0E7C7B;
    justify-content: space-evenly;
    padding: 5%;
}
i{
    text-align: center;
    padding:5%;
}
.features h3{
    color: white;
    text-align: center;
    font-weight: 100;
    margin-top: 5%;
}
/*sign up*/
.signUp{
    text-align: center;
    padding: 5%;
}

.signUp h3{
    border: 3px #0E7C7B solid;
    border-radius: 8px;
    width:30%;
    margin-left: 35%;
    margin-right: 65%;
    color: #362E34;
}

.signUp h3:hover{
    background: #0E7C7B;
    border: 4px #362E34 solid;
    color: white;
}

/*Reviews*/
footer{
    display: flex;
    justify-content: space-evenly;
}

.review{
  margin: 2%;
  background: #F0F0F0;
  color: #362E34;
  border-radius: 10%;
  text-align: center;
}

.review img{
    border-radius: 10%;
}



/* ABOUT PAGE CSS*/

/*header*/

.aboutHeroImage{
    display: flex;
    justify-content: center;
    background-image: url('Images/marvin-meyer-SYTO3xs06fU-unsplash.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 40vh;
}

/* Title */
.aboutMainTitle{
   padding-top: 7%;
}
.aboutMainTitle h1{
    color: white;
}

/* Main Content */

.teamMembers{
        display:flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin:10%;
        text-align: center;
}
.teamMember{
    /* display: flex;
    justify-content: space-evenly; */
    width: 30%;
    background: #F0F0F0;
    margin: 5% 0;
    border-radius: 10%;
    /* flex-wrap: wrap;
    margin: 2%; */
}
.teamMember img{
    border-radius: 10%;
}

/* Mobile 500px CSS */

@media(max-width: 500px){

    /*general*/

    h1{
        font-size: 4rem;
    }

    h2{
        font-size: 3rem;
    }

    h3{
        font-size: 2rem;
    }

    /*header*/
    nav{
        flex-direction: column;   /* height: 20vh; */
    }
    .aboutUsNav{
       order: 3;
       margin-bottom: 10%;
       margin-top:0;
    }
    .wanderListNav{
     width: 90%;
     margin: auto;
    }
    .login{
       flex-direction: column;
       width: 100%;
    }
    /*main title*/

    .mainHeroImage{
        height: 30vh;
        background-position: center-top;
        background-size: contain;
        background-attachment: local;
    }

    .mainTitle h1{
        margin-top: 5%;
    }

    /* main content*/

    .features{
        flex-direction: column;
    }

    .signUp h3{
        width: 90%;
        margin: auto;
    }

    /*footer*/
    footer{
        flex-direction: column;
    }
    footer p{
        width: 90%;
        margin: auto;
    }
    /* About Page*/
    .teamMembers{
        flex-direction: column;
    }

    .teamMember{
        width: 100%;
    }
    .aboutHeroImage{
        height: 20vh;
        background-position: center-top;
        background-size: contain;
        background-attachment: local;
    }

    }

    @media (max-width: 800px){

        /* nav*/
       .login{
           width: 50%;
           margin: auto;
           flex-direction: column;
       }
       .wanderListNav{
           width: 40%;
           margin: auto;
       }
       .aboutUsNav{
           width: 50%;
           margin: auto;
       }
       /*main title*/
       .mainHeroImage{
           height: 60vh;
       }

       /* About Page*/
       .aboutHeroImage{
           height: 30vh;
       }

    }