*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    max-width: 100%;
    /* border: 1px solid grey; */
}


html{
    font-size: 62.5%;
}
body{
    font-size: 1.5rem;
    line-height: 1.5;
    color: #4f4f4f;
    font-family: 'Poppins', sans-serif;    
    background-color: #fffafa;
}
a{
    text-decoration: none;
}
h1{
    font-weight: bold;
    font-size: 3rem;
}
h3{
    text-align: left;
}
h4 {
    line-height: 2;
}

h1, h2, h3 {
    -webkit-text-fill-color: white; 
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}
header{
    /* height: 50vh; */
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("assets/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.intro{
    padding:10%;
}
nav{
    display: flex;
    min-height: 10vh;
    background-color: #0E7C7B;
    justify-content: space-evenly;
}
nav a, footer a {
    background-color: #0E7C7B;
    color: white;
    padding: 5px;
    border: none;
    border-radius: 5px;
    margin: auto;
}
nav a:hover, footer a:hover{
    background-color: #F0F0F0;
    color: #0E7C7B;
}
.container {
    margin:auto;
}
.logo{
    text-align: center;
    padding: 3% 0;
}
.logo img{
    width: 70%;
    max-width: 300px;
}

/* Testimonial Styling */
.testimonial{
    display: flex;
    flex-direction: column;
}
.userpic{
    min-width: 60%;
    height: 30vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#userpic1{
    background-image: url("assets/Ash.jpg");
}
#userpic2{
    background-image: url("assets/Frank-Ernest-SouthBayCoffee.jpg");
}
#userpic3{
    background-image: url("assets/Jacey.jpg");    
}
.testimonial-text-box{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 4%;
    background-color: #f0f0f0;
    font-size: 2.2rem;
}
.testimonial-text-box p {
    line-height: 1.7;
    padding: 2% 0 0 0;
}
.usersSay{
    display: flex;
    flex-direction: column;
    padding: 7% 4%;
    flex-grow: 1;
}

/*Feature card styling also inside of about page styling*/
.features {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}
.features .featureCard {
    align-items: center;
    padding: 7% 4%;
    flex-grow: 1;
    margin: 7% 4%;
}
.featureCard h4{
    font-size: 2rem;
}
.featureCard p {
    font-size: 2rem;
    padding: 2%;
}
.featureIcon{
    max-width: 100%;
    margin: 4%;
}

/* Footer button Style */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:3%;
    text-align: center;
    line-height: 7vh;
}
footer a{
    width: 90%;
    height: 7vh;
    font-size: 2rem;
}
.logo-footer{
    display: none;
}

/* about page styling */
.about{
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("assets/about-background.jpg");
}

.gallery{
    display: flex;
    flex-flow:row wrap;
    justify-content: space-evenly;
    padding: 2%;
}
.aboutCard, .featureCard{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 1.4rem;
    margin: 1% 0;
    padding: 0;
    align-items: center;    
    background-color: #F0F0F0;
}

.flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  .flip-card-back {
    background-color: #2980b9;
    color: white;
    transform: rotateY(180deg);
  }
  .gallery .socialsContainer {
      display: flex;
      flex-direction: row;
  }
  .socials {
      max-width: 30px;
      margin: 5px;
  }

@media only screen and (min-width: 700px) {
/* Tablet styles */
    h1{
        font-size: 4rem;
    } 
    nav{
        justify-content: flex-start;
        padding: 10px 10px;
        min-height: unset;
    }
    nav a{
        padding: 3px;
    }  
    .container{
        margin: 0;
    }
    .about-container{
        order: 1;
    }
    .signup-container{
        order: 2;
        margin-left: auto;
    }
    .login-container{
        order: 4;
        margin-left: 15px;
    }
    button{
        flex-grow: unset;
        font-size: 2.4rem;
        height: 4vh;
    }
    .logo{
        display:none;
    }
    .testimonial{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .usersSay{
        padding: 2% 2% 2% 2%;
    }
    .userpic{
        width: 100%;
    }
    .features .featureCard {
        max-width: 42%;
        margin: 0 0 3% 0;
    }
 
    .logo-footer {
        display: block;
        text-align: center;
    }
    .logo-footer img {
        padding: 10% 0 0 0;
    }
}

@media only screen and (min-width: 900px) {
    /* bigger screen */

    .features h4 {
        font-size: 4rem;
    }
    .features p {
        font-size: 3rem;
    }

}

@media only screen and (min-width: 1500px) {
       nav a {
        font-size: 2.5rem;
    }
    h1{
        font-size: 9rem;
    } 
}
